.login-signup-form {
	width: 270px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hover:hover {
	transform: scale(1.05, 1.05);
	transition: 0.1s;
}

.icon-hover:hover {
	transform: scale(1.4, 1.4);
	transition: 0.1s;
}
